<div layout-align="center center" layout="row" ng-cloak>
  <div flex-gt-sm="50" flex ">
  <md-toolbar md-colors="::{backgroundColor: 'default-primary-700'} ">
    <div class="md-toolbar-tools ">
      <h2 class="md-flex ">{{details.date | date: 'MMM dd'}} {{details.name}}</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
	<p>It will be observed on  <em>{{ finalDetails.observed | date: 'MMM dd'}}</em> & It is <span ng-if="finalDetails.public ">Not</span> a Public Holiday</p>
	
	
	<div><a ui-sref="holidayList " ui-sref-active="active ">Go back to the Holiday List</a></div>
    
  </md-content>
  </div>

</div>